body {
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: burlywood;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
nav {
    border-style: none;
}
section {
    background-color: beige;
    width: 50%;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    clear: both;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 5px;
    padding: 3px;
}
aside {
    background-color: bisque;
    float: right;
    width: 30%;
    display: inline;
    padding-right: 15px;
    margin-right: 15px;
    margin-top: 5px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}
footer {
    background-color: antiquewhite;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    clear: both;
    margin-top: 5px;
    margin-left: 5px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav .active {
    background-color: white;
    color: black;
}
.topnav .active:hover {background-color: white; color: black;}
a {color: blue;}
a:hover {color: purple;}
.Main-Text:hover + .Extra-Text {
    display: block;
}
.Extra-Text {
    background-color: #FFFFFF;
    margin-top: 10px;
    width: 200px;
    border: 2px solid #000000;
    padding: 10px;
    font-size: 16px;
    display: none;
}