<head>
<link rel="stylesheet" href="style.css">
<title>New English hymnal - Church in Burenburg</title>
<link rel="icon" type="image/x-icon" href="churchin.bbr/images/favicon.ico">
</head>
<body>
    <h1>New English hymnal</h1>
    <hr>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for hymn numbers or first lines" title="Type in a name">

    <table id="myTable">
      <tr class="header">
        <th>Hymn #</th>
        <th>Hymn first line</th>
      </tr>
      <!--1-->
<tr>
  <td><a href="New numbers/1.html">1</a></td>
  <td><p>Glory be to God the Father</p></td>
</tr>
<!--314-->
<tr>
  <td><a href="New numbers/314.html">314</a></td>
  <td><p>Lord, You made a spirit in us</p></td>
</tr>
<!--321-->
<tr>
  <td><a href="New numbers/321.html">321</a></td>
  <td><p>Full salvation! Full salvation!</p></td>
</tr>
<!--403-->
<tr>
  <td><a href="New numbers/403.html">403</a></td>
  <td><p>Live Yourself, Lord Jesus, through me</p></td>
</tr>
<!--437-->
<tr>
  <td><a href="New numbers/437.html">437</a></td>
  <td><p>Captivated by His beauty</p></td>
</tr>
<!--614-->
<tr>
  <td><a href="New numbers/614.html">614</a></td>
  <td><p>What made you, Lord, to die for me?</p></td>
</tr>
<!--617-->
<tr>
  <td><a href="New numbers/617.html">617</a></td>
  <td><p>Lord, keep my heart, always true to You.</p></td>
</tr>
<!--667-->
<tr>
  <td><a href="New numbers/667.html">667</a></td>
  <td><p>Ode to Jesus</p></td>
</tr>
<!--958-->
<tr>
  <td><a href="New numbers/958.html">958</a></td>
  <td><p>Since long ago at Bethany we parted</p></td>
</tr>
</table>
  <br>
<i>@2024 <a href="https://ws.bbr" target="_blank"><abbr title="Witnissing stream Burenburg">WS.bbr</abbr></a></i><br>
<a href="churchin.bbr/index.html" target="_blank">www.churchin.bbr</a>
<script>
  function myFunction() {
    var input, filter, table, tr, td1, td2, i, txtValue1, txtValue2;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td1 = tr[i].getElementsByTagName("td")[0];
      td2 = tr[i].getElementsByTagName("td")[1]; // Second column
      if (td1 && td2) {
        txtValue1 = td1.textContent || td1.innerText;
        txtValue2 = td2.textContent || td2.innerText;
        if (
          txtValue1.toUpperCase().indexOf(filter) > -1 ||
          txtValue2.toUpperCase().indexOf(filter) > -1
        ) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
</body>