body {
    font-family: Verdana;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    background-color: rgb(192, 192, 192);
}
#myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
a {color: blue;}
a:hover {color: purple;}