<title>Hymn 1</title>
<link rel="stylesheet" href="style.css">
<link rel="icon" type="image/x-icon" href="../images/favicon.ico">
<p>Hymn #1</p>
<div class="tab">
	<button class="tablinks" onclick="openCity(event, 'Piano')">Piano</button>
	<button class="tablinks" onclick="openCity(event, 'Guitar')">Guitar</button>
  </div>
  <div id="Piano" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="piano/1.png">
  </div>
  <div id="Guitar" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="guitar/1.png">
  </div>
<button onclick="location.href='#1'">1</button>
<button onclick="location.href='#2'">2</button>
<button onclick="location.href='#3'">3</button>
<button onclick="location.href='#4'">4</button>
<button onclick="location.href='#5'">5</button>
<button onclick="location.href='#6'">6</button>
<a id="1"></a>
 <p>1</p> 		
<p>Glory be to God the Father,</p> 
<p>And to Christ the Son,</p> 
<p>Glory to the Holy Spirit —</p> 
<p>Ever One.</p> 
<a id="2"></a>
<p>2</p> 		
<p>As we view the vast creation,</p>
<p>Planned with wondrous skill,</p>
<p>So our hearts would move to worship,</p>
<p>And be still.</p>

<a id="3"></a>
<p>3</p> 		
<p>But, our God, how great's Your longing</p>
<p>To have sons who love</p>
<p>In the Son e'en now to praise You,</p>
<p>Love to prove!</p>

<a id="4"></a>
<p>4</p> 		
<p>'Twas Thy thought in revelation,</p>
<p>To present to men</p>
<p>Secrets of Your own affections,</p>
<p>Theirs to win.</p>

<a id="5"></a>
<p>5</p> 		
<p>So in Christ, through His redemption</p>
<p>(Vanquished evil powers!)</p>
<p>You have brought, in new creation,</p>
<p>Worshippers!</p>
<a id="6"></a>
<p>6</p> 		
<p>Glory be to God the Father,</p>
<p>And to Christ the Son,</p>
<p>Glory to the Holy Spirit —</p>
<p>Ever One.</p>
<button onclick="location.href='#1'">Go to top</button>
<script>
	function openCity(evt, cityName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(cityName).style.display = "block";
	  evt.currentTarget.className += " active";
	}
	</script>
<button onclick="window.location.href = '../index.html'">Go to index</button> 