<title>Hymn 314</title>
<link rel="stylesheet" href="style.css">
<p>Hymn #314</p>
<link rel="icon" type="image/x-icon" href="../images/favicon.ico">
<div class="tab">
	<button class="tablinks" onclick="openCity(event, 'Guitar')">Guitar</button>
  </div>
  <div id="Guitar" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="guitar/314.png">
  </div>
<button onclick="location.href='#1'">1</button>
<button onclick="location.href='#chorus1'">Chorus 1</button>
<button onclick="location.href='#2'">2</button>
<a id="1"></a>
<p>1</p> 		
<p>Lord, You made a spirit in us--</p> 
<p>this fulfills Your eternal purpose!</p> 
<p>Lord, Your Spirit now lives in us,</p> 
<p>dispensing life to us!</p>
<a id="chorus1"></a>
<i>Chorus</i>
<p>The Spirit has everything we need--</p>
<p>essential and also economical!</p>
<p>Whoever believes can go to Him and</p>
<p>drink of the one Spirit!</p>
<a id="2"></a>
<p>2</p>
<p>We have been regenerated,</p>
<p>Sanctified and then transformed --</p>
<p>The Spirit works to renew our minds,</p>
<p>Sealing us for God!</p>
<button onclick="location.href='#1'">Go to top</button>
<script>
	function openCity(evt, cityName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(cityName).style.display = "block";
	  evt.currentTarget.className += " active";
	}
	</script>
<button onclick="window.location.href = '../index.html'">Go to index</button> 