<title>Hymn 321</title>
<link rel="stylesheet" href="style.css">
<p>Hymn #321</p>
<link rel="icon" type="image/x-icon" href="../images/favicon.ico">
<div class="tab">
	<button class="tablinks" onclick="openCity(event, 'Piano')">Piano</button>
	<button class="tablinks" onclick="openCity(event, 'Guitar')">Guitar</button>
  </div>
  <div id="Piano" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="piano/321.png">
  </div>
  <div id="Guitar" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="guitar/321.png">
  </div>
<button onclick="location.href='#1'">1</button>
<button onclick="location.href='#2'">2</button>
<button onclick="location.href='#3'">3</button>
<button onclick="location.href='#4'">4</button>
<button onclick="location.href='#5'">5</button>
<a id="1"></a>
<p>1</p> 		
<p>Full salvation! Full salvation!</p> 
<p>Lo, the fountain opened wide,</p> 
<p>Streams through every land and nation</p> 
<p>From the Savior's wounded side.</p>
<p>Full salvation! Full salvation!</p>
<p>Streams an endless crimson tide.</p>
<a id="2"></a>
<p>2</p>
<p>Oh, the glorious revelation!</p>
<p>See the cleansing current flow,</p>
<p>Washing stains of condemnation</p>
<p>Whiter than the driven snow:</p>
<p>Full salvation! Full salvation!</p>
<p>Oh, the rapturous bliss to know.</p>
<a id="3"></a>
<p>3</p>
<p>Love’s resistless current sweeping</p>
<p>All the regions deep within;</p>
<p>Thought, and wish, and senses keeping</p>
<p>Now, and every instant, clean:</p>
<p>Full salvation! Full salvation!</p>
<p>From the guilt and power of sin.</p>
<a id="4"></a>
<p>4</p>
<p>Life immortal, Christ descending,</p>
<p>Lo! my heart the Spirit’s shrine:</p>
<p>God and man in oneness blending,</p>
<p>Oh, what fellowship is mine!</p>
<p>Full salvation! Full salvation!</p>
<p>Raised in Christ to life divine!</p>
<a id="5"></a>
<p>5</p>
<p>Care and doubting, gloom and sorrow,</p>
<p>Fear and shame are mine no more;</p>
<p>Faith knows naught of dark tomorrow,</p>
<p>For my Savior goes before:</p>
<p>Full salvation! Full salvation!</p>
<p>Full and free for evermore!</p>
<button onclick="location.href='#1'">Go to top</button>
<script>
	function openCity(evt, cityName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(cityName).style.display = "block";
	  evt.currentTarget.className += " active";
	}
	</script>
<button onclick="window.location.href = '../index.html'">Go to index</button> 