<title>Hymn 403</title>
<link rel="stylesheet" href="style.css">
<p>Hymn #403</p>
<link rel="icon" type="image/x-icon" href="../images/favicon.ico">
<div class="tab">
	<button class="tablinks" onclick="openCity(event, 'Piano')">Piano</button>
	<button class="tablinks" onclick="openCity(event, 'Guitar')">Guitar</button>
  </div>
  <div id="Piano" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="piano/403.png">
  </div>
  <div id="Guitar" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="guitar/403.png">
  </div>
<button onclick="location.href='#1'">1</button>
<button onclick="location.href='#2'">2</button>
<button onclick="location.href='#3'">3</button>
<button onclick="location.href='#4'">4</button>
<a id="1"></a>
<p>1</p>
<p>Live Yourself, Lord Jesus, through me,</p>
<p>For my very life is Yours;</p>
<p>You I'd take to all my problems</p>
<p>As the full solution now.</p>
<p>Live Yourself, Lord Jesus, through me,</p>
<p>In all things You shall do work;</p>
<p>I but a transparent vessel</p>
<p>To make visible the Son.</p>
<a id="2"></a>
<p>2</p>
<p>Consecrated is Your temple,</p>
<p>Saved from every stain and sin;</p>
<p>May Your flame of glory now be</p>
<p>Exhibited from within.</p>
<p>Let the earth in solemn wonder</p>
<p>See my body willingly</p>
<p>Offered as Your slave obedient,</p>
<p>Energized alone by You.</p>
<a id="3"></a>
<p>3</p>
<p>Every moment, every member,</p>
<p>Fastened, waiting Your command;</p>
<p>Underneath the want to labor</p>
<p>Or be laid aside as planned.</p>
<p>When restricted in pursuing,</p>
<p>No disquiet will be set;</p>
<p>Underneath Your faithful dealing</p>
<p>Not much gossip or regret.</p>
<a id="4"></a>
<p>4</p>
<p>Ever tender, quiet, restful,</p>
<p>Inclinations put away,</p>
<p>That You may for me choose freely</p>
<p>As Your finger points the way.</p>
<p>Live Yourself, Lord Jesus, through me,</p>
<p>For my very life is Yours;</p>
<p>You I'd take to all my problems</p>
<p>As the full solution now.</p>
<button onclick="location.href='#1'">Go to top</button>
<script>
	function openCity(evt, cityName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(cityName).style.display = "block";
	  evt.currentTarget.className += " active";
	}
	</script>
<button onclick="window.location.href = '../index.html'">Go to index</button> 