<title>Hymn 437</title>
<link rel="stylesheet" href="style.css">
<p>Hymn #437 <i>revised</i></p>
<link rel="icon" type="image/x-icon" href="../images/favicon.ico">
<div class="tab">
	<button class="tablinks" onclick="openCity(event, 'Piano')">Piano (original text)</button>
	<button class="tablinks" onclick="openCity(event, 'Guitar')">Guitar (original text)</button>
  </div>
  <div id="Piano" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="piano/437.png">
  </div>
  <div id="Guitar" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="guitar/437.png">
  </div>
<button onclick="location.href='#1'">1</button>
<button onclick="location.href='#2'">2</button>
<button onclick="location.href='#3'">3</button>
<button onclick="location.href='#4'">4</button>
<button onclick="location.href='#5'">5</button>
<button onclick="location.href='#6'">6</button>
<button onclick="location.href='#7'">7</button>
<a id="1"></a>
<p>1</p>
<p>Have you heard Him, seen Him, known Him?</p>
<p>Is your heart not captured by Him?</p>
<p>Chief among ten thousand own Him;</p>
<p>Joyful choose the better part. </p>
<p><i>Chorus</i></p>
<p>Captivated by His beauty,</p>
<p>Worthy tribute we can offer Him;</p>
<p>Let His peerless worth constrain you,</p>
<p>Crown Him now the highest King.</p>
<a id="2"></a>
<p>2</p>
<p>Idols once they won us, charmed us,</p>
<p>Lovely things of time and sense;</p>
<p>If the world was not of sugar,</p>
<p>others would turn to the Lord.</p>
<a id="3"></a>
<p>3</p>
<p>What has stripped enlightening beauty</p>
<p>From the idols of the earth?</p>
<p>Not a sense of right or duty,</p>
<p>But the sight of peerless worth.</p>
<a id="4"></a>
<p>4</p>
<p>Not the crushing of those idols,</p>
<p>With its bitter void and smart;</p>
<p>But the beaming of His beauty,</p>
<p>The unveiling of His heart.</p>
<a id="5"></a>
<p>5</p>
<p>Who turns off their shining lights,</p>
<p>Till they witness the sunrise?</p>
<p>Who discards the cold of winter</p>
<p>Till the summer has begun?</p>
<a id="6"></a>
<p>6</p>
<p>’Tis that look that melted Peter,</p>
<p>’Tis that face that Stephen saw,</p>
<p>’Tis that heart that wept with Mary,</p>
<p>Can only draw us from idols!</p>
<a id="7"></a>
<p>7</p>
<p>Draw and win and fill completely,</p>
<p>till our vessels overflow the brim;</p>
<p>What have we to do with idols</p>
<p>Who have distracted us from Him?</p>
<button onclick="location.href='#1'">Go to top</button>
<script>
	function openCity(evt, cityName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(cityName).style.display = "block";
	  evt.currentTarget.className += " active";
	}
	</script>
<button onclick="window.location.href = '../index.html'">Go to index</button> 