<title>Hymn 614</title>
<link rel="stylesheet" href="style.css">
<link rel="icon" type="image/x-icon" href="../images/favicon.ico">
<p>Hymn #614</p>
<div class="tab">
	<button class="tablinks" onclick="openCity(event, 'Piano')">Piano</button>
	<button class="tablinks" onclick="openCity(event, 'Guitar')">Guitar</button>
  </div>
  <div id="Piano" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="piano/614.png">
  </div>
  <div id="Guitar" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="guitar/614.png">
  </div>
<button onclick="location.href='#1'">1</button>
<button onclick="location.href='#chorus1'">Chorus 1</button>
<button onclick="location.href='#2'">2</button>
<button onclick="location.href='#3'">3</button>
<button onclick="location.href='#4'">4</button>
<button onclick="location.href='#chorus2'">Chorus 2</button>
<button onclick="location.href='#5'">5</button>
<a id="1"></a>
<p>1</p>
<p>What made You, Lord, to die for me?</p>
<p>Why would You die for me, Your enemy?</p>
<p>You took my place to hang on a tree,</p>
<p>To be a curse, a curse for me.</p>
<a id="chorus1"></a>
<p>Chorus 1</p>
<p>What made You die for me?</p>
<p>I was Your enemy.</p>
<p>Lord, You became a curse for me.</p>
<p>Oh, what a mystery!</p>
<p>My God, You died for me!</p>
<p>You died for me, Your enemy.</p>
<a id="2"></a>
<p>2</p>
<p>I never thought that You would be</p>
<p>So full of love and tender mercy.</p>
<p>How could You love a person like me?</p>
<p>You loved me, dear Jesus, Your enemy.</p>
<p>3</p>
<a id="3"></a>
<p>You loved me, Lord, so very long;</p>
<p>And with a love enduring and strong.</p>
<p>Although I mocked and cursed You so long,</p>
<p>You waited and prayed for me all along.</p>
<a id="4"></a>
<p>4</p>
<p>I was a man who was just sin,</p>
<p>Which issued in a life full of sins.</p>
<p>My heart toward You was in rebellion,</p>
<p>But, Lord, You touched me with Your compassion.</p>
<a id="chorus2"></a>
<p>Chorus 2</p>
<p>Your love has conquered me,</p>
<p>Even Your enemy.</p>
<p>In love, dear Lord, You came to me.</p>
<p>Nothing could change me</p>
<p>But love and mercy.</p>
<p>Your love, dear Lord, has conquered me.</p>
<a id="5"></a>
<p>5</p>
<p>One little turn and You were there,</p>
<p>Waiting for me with Your loving care.</p>
<p>How could I still remain Your enemy?</p>
<p>Your love, dear Jesus, disarmed me.</p>
<button onclick="location.href='#1'">Go to top</button>
<script>
	function openCity(evt, cityName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(cityName).style.display = "block";
	  evt.currentTarget.className += " active";
	}
	</script>
<button onclick="window.location.href = '../index.html'">Go to index</button> 