<title>Hymn 617</title>
<link rel="stylesheet" href="style.css">
<link rel="icon" type="image/x-icon" href="../images/favicon.ico">
<p>Hymn #617</p>
<div class="tab">
	<button class="tablinks" onclick="openCity(event, 'Piano')">Piano</button>
	<button class="tablinks" onclick="openCity(event, 'Guitar')">Guitar</button>
  </div>
  <div id="Piano" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="piano/617.png">
  </div>
  <div id="Guitar" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="guitar/617.png">
  </div>
<button onclick="location.href='#1'">1</button>
<button onclick="location.href='#chorus1'">Chorus 1</button>
<button onclick="location.href='#2'">2</button>
<button onclick="location.href='#3'">3</button>
<a id="1"></a>
<p>1</p> 		
<p>Lord, keep my heart always true to You</p> 
<p>Never backsliding, always viewing You,</p> 
<p>A heart that is pure that sees only You,</p> 
<p>A heart that loves You and treasures only You.</p>
<a id="chorus1"></a>
<i>Chorus</i>
<p>Your love constrains me to give my all to You.</p>
<p>Lord, I can’t help it; my heart is drawn to You.</p>
<p>Oh what a privilege! I give myself to You!</p>
<p>I love You, Lord, dearest Lord.</p>
<p>I love You! I just love You!</p>
<a id="2"></a>
<p>2</p>
<p>Lord, keep my love burning brightly for You,</p>
<p>A love never dwindling always hot for You,</p>
<p>A love, shining brighter all the way for You,</p>
<p>A love, so fresh like the day I first touched You.</p>
<a id="3"></a>
<p>3</p>
<p>Lord, take my life, I present it to You!</p>
<p>If I had a thousand, I’d pour all on You!</p>
<p>Nothing withholding, my all is for You.</p>
<p>My life and my future, dear Lord, is all for You.</p>
<button onclick="location.href='#1'">Go to top</button>
<script>
	function openCity(evt, cityName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(cityName).style.display = "block";
	  evt.currentTarget.className += " active";
	}
	</script>
<button onclick="window.location.href = '../index.html'">Go to index</button> 