<title>Hymn 667</title>
<link rel="stylesheet" href="style.css">
<link rel="icon" type="image/x-icon" href="../images/favicon.ico">
<p>Hymn #667</p>
<div class="tab">
	<button class="tablinks" onclick="openCity(event, 'Piano')">Piano</button>
  </div>
  <div id="Piano" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="piano/667.png">
  </div>
<p>Ode to Jesus, and the cross, and all that He has done for us!</p>
<p>Ode to His work, and His death, and that He is in our hearts.</p>
<p>Ode to God and the Holy Spirit, and the Son that died for us.</p>
<p>Ode to His trinity and that we can praise Him da-i-ly!</p>
<script>
	function openCity(evt, cityName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(cityName).style.display = "block";
	  evt.currentTarget.className += " active";
	}
	</script>
<button onclick="window.location.href = '../index.html'">Go to index</button> 