<title>Hymn 958</title>
<link rel="stylesheet" href="style.css">
<p>Hymn #958</p>
<div class="tab">
	<button class="tablinks" onclick="openCity(event, 'Piano')">Piano</button>
	<button class="tablinks" onclick="openCity(event, 'Guitar')">Guitar</button>
  </div>
  <div id="Piano" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="piano/958.png">
  </div>
  <div id="Guitar" class="tabcontent">
	<span onclick="this.parentElement.style.display='none'">Close</span>
	<img src="guitar/958.png">
  </div>
<button onclick="location.href='#1'">1</button>
<button onclick="location.href='#2'">2</button>
<button onclick="location.href='#3'">3</button>
<button onclick="location.href='#3'">4</button>
<button onclick="location.href='#3'">5</button>
<button onclick="location.href='#3'">6</button>
<button onclick="location.href='#3'">7</button>
<a id="1"></a>
<p>1</p>
<p>Since long ago at Bethany we parted,</p>
<p>Within my heart there is an empty void;</p>
<p>How can I take my harp down from the willow?</p>
<p>How can my songs without You be enjoyed?</p>
<p>And when at night I’m keeping lonely watch—</p>
<p>Grown numb just to sorrow and to cheer—</p>
<p>Then I recall the promise of Your coming,</p>
<p>But sigh: O Lord, why, why haven't You appeared?</p>
<a id="2"></a>
<p>2</p>
<p>Your manger wakes the thought: I am also homeless;</p>
<p>Your cross takes wordly pleasures from my soul;</p>
<p>Your coming offers me to seek a better place,</p>
<p>For You, Yourself, is now my final goal.</p>
<p>Since You have gone my joy has lost its flavour,</p>
<p>My song the sweetness I will long for You.</p>
<p>Since You have gone emptyness overwhelms me.</p>
<p>Oh, how I long that You'll come. Don't delay!</p>
<a id="3"></a>
<p>3</p>
<p>For even now I know Your loving presence,</p>
<p>Yet in my heart there’s still an empty void.</p>
<p>Enlightening and I try to keep sustaining</p>
<p>Can no more satisfy: I want You back.</p>
<p>Despite Your peace within, I still feel lonely;</p>
<p>Despite Your joy there still remains a sigh;</p>
<p>When I feel most content, the silent calling</p>
<p>To see You face to face becomes a big cry.</p>
<i>Unupdated section</i>
<a id="4"></a>
<p>4</p>
<p>What exile cannot but desire his homeland</p>
<p>And long his people once again to greet?</p>
<p>What soul on alien soil forgets his kindred?</p>
<p>What parted lovers never yearn to meet?</p>
<p>O Lord, how can these earthly loves and pleasures</p>
<p>With all the joy of Thy return compare?</p>
<p>Then, if I cannot here behold Thy countenance,</p>
<p>What can I do but sigh till Thou, my Lord, appear?</p>
<a id="5"></a>
<p>5</p>
<p>Could’st Thou, O Lord, forget Thy word of promise</p>
<p>Soon to return and take me unto Thee?</p>
<p>Yet day by day and year by year I’ve waited</p>
<p>And still I wait, and no return I see!</p>
<p>Remember, Lord, the years I have been waiting</p>
<p>While Thy dear footsteps linger far away.</p>
<p>How long? How long? Oh! must I wait still longer</p>
<p>Till Thou shalt come again in glorious array?</p>
<a id="6"></a>
<p>6</p>
<p>From generation unto generation</p>
<p>Thy saints have come and gone, but have not seen</p>
<p>Thy glorious promise pass into fulfilment.</p>
<p>How long, how very long the time has been!</p>
<p>Why cannot we, dear Lord, discern Thy footsteps?</p>
<p>Why are the heavens still so closely sealed?</p>
<p>Oh! must our waiting be prolonged still further</p>
<p>Before Thou in Thy matchless splendor art revealed?</p>
<a id="7"></a>
<p>7</p>
<p>Lord, I recall the many years I’ve waited</p>
<p>For Thy return—yet, Lord, not I alone,</p>
<p>But Thy dear saints through many generations—</p>
<p>Beseeching Thee to come back for Thine own.</p>
<p>To countless tears and countless fervent pleadings,</p>
<p>By Thine appearing haste to make reply.</p>
<p>Oh, may Thou come, the echo of the ages,</p>
<p>Come, come and answer now this mighty corp’rate cry!</p>
<button onclick="location.href='#1'">Go to top</button>
<script>
	function openCity(evt, cityName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(cityName).style.display = "block";
	  evt.currentTarget.className += " active";
	}
	</script>
<button onclick="window.location.href = '../index.html'">Go to index</button> 