body {
    font-family: verdana;
}
.tab {
      overflow: hidden;
      border: 1px solid #000000;
      background-color: rgb(192, 192, 192);
}
.tab button {
     background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
}
.tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
}
span {
    color: black;
}
span:hover {color: blue;}
button {background-color: white; color: black;}
button:hover {background-color: gray; color: black;}